.container {
  display: flex;
  margin-top: 2rem;
}

.article {
  flex: 3;
  margin-left: 2cm;
}

.sidebar {
  margin-top: 2rem;
  margin-right: 10px;
  flex: 1;
  margin-left: 2cm;
  border: 1px solid;
  padding: 10px;
  background-color: #ffc3e1;
}
